
.container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}
#selection_card{
    outline-style: solid;
    outline-width: 0.1px;
    outline-color: lightgray;
    height: 100%;
    border-radius: 15px;
}

#service_cards {
    outline-style: solid;
    outline-width: 0.1px;
    outline-color: lightgray;
    align-items: center;
    align-content: center;
}
