


.circle_yellow {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create a pseudo-element for the pulsating background circle */
.circle_yellow::before {
  content: "";
  position: absolute;
  width: 100%; /* Cover the entire circle */
  height: 100%; /* Cover the entire circle */
  border-radius: inherit; /* Match the border radius of the main circle */
  border: 5px solid #ffbb00;
  animation: pulsate 2s infinite; /* Add animation properties to the pseudo-element */
}

@keyframes pulsate {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}


  .icon-image {
    height: inherit;
    width: inherit;

  }

  .circle_green {
    border: 5px solid #40932a;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transform: scale(1);
	  animation: pulse_green 2s infinite;
  }

  @keyframes pulse_green {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 #41932aa2;
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 30px #41932a00;
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 #41932a00;
    }
  }


  .circle_red {
    border: 5px solid #fc0303;
    border-radius: 50%;
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transform: scale(1);
	  animation: pulse_red 2s infinite;
  }

  @keyframes pulse_red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 #fc03039d
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 30px #fc030300;
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 #fc030300;
    }
  }

 


.card-style {
  border-radius: 5;
  border-color: lightgray;

}

.scroll-left {
  overflow-x: auto !important;
}



/* YourComponent.css */
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  flex-direction: column;
}





@media (max-width: 480px){
  .card-style {
    max-width: 50vw;
  }
}

.scroll-left {
  overflow-x: auto !important;
}


  @media (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .grid-item {
      max-width: 95vw !important;
    }
  }
  .large-desc {
    text-wrap: wrap !important;
  }

@media (max-height: 667px) {
  .grid-item {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 375px) {
  .grid-item {
    max-width: 95vw !important;
    min-width: 90vw;
  }
}

@media (min-width: 500px) {
  .grid-item {
    max-width: 85vw !important;
  }
}

@media (min-width: 700px) {
  .grid-item {
    max-width: 65vw !important;
    min-width: 55vw;  
  }
}


@media (min-width: 900px) {
  .grid-item {
    max-width: 55vw !important;
    min-width: 45vw;

  }
}

@media (min-width: 1200px) {
  .grid-item {
    max-width: 50vw !important;
    min-width: 45vw;

  }
}

@media (min-width: 1600px) {
  .grid-item {
    max-width: 45vw !important;
    min-width: 45vw;
  }
}


.blob_waitlist {
  background-color: #80b900;
	border-radius: 50%;
	margin: 10px;
	height: 120px;
	width: 120px;

  display: flex;
    justify-content: center;
    align-items: center;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse_waitlist 2s infinite;
}

@keyframes pulse_waitlist {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #81b90080;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 30px #81b9000c;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #81b9000c;
	}
}


.blob_appointment {
  background-color: #ffbb00;
	border-radius: 50%;
	margin: 10px;
	height: 140px;
	width: 140px;

  display: flex;
    justify-content: center;
    align-items: center;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse_appointment 2s infinite;
}


@keyframes pulse_appointment {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ffbb009a;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 30px #ffbb0000;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ffbb0000;
	}
}