

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 0 !important;
}

.scroll-left {
  overflow-x: auto !important;
}


@media (max-height: 667px) {
  .grid-item {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 375px) {
  .grid-item {
    max-width: 95vw !important;
  }
}

@media (min-width: 500px) {
  .grid-item {
    max-width: 75vw !important;
  }
}

@media (min-width: 700px) {
  .grid-item {
    max-width: 65vw !important;
  }
}


@media (min-width: 900px) {
  .grid-item {
    max-width: 55vw !important;
  }
}

@media (min-width: 1200px) {
  .grid-item {
    max-width: 50vw !important;
  }
}

@media (min-width: 1600px) {
  .grid-item {
    max-width: 45vw !important;
  }
}