

body {
  background-color: black;
}

.number-box {
    width: 100px;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  #selection_card {
    outline-style: solid;
    outline-width: 0.1px;
    outline-color: lightgray;
    height: 100%;
  }
  
  #selection_card:hover {
    color: #ffffff; /* Change to your desired text color */
  }


.custom-card {
  width: 100%;
  max-width: 65vh;
  text-align: center;
  padding: 2px;
  overflow: auto !important;
  border-radius: 5px;
  box-shadow: 0;
  min-height: 40vh;
}